<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wooreal.gravitygather.mapper.FileUploadMapper">

    <select id="getFileInfoBySeq">
        SELECT * FROM
        uploaded_files
        WHERE
            seq = #{seq}
    </select>

    <insert id="singleFileUpload">
        INSERT INTO uploaded_files(
            original_name,
            new_name,
            upload_path,
            extension,
            created_at
        ) VALUES (
            #{original_name},
            #{new_name},
            #{upload_path},
            #{extension},
            current_timestamp()
        )
        <selectKey keyProperty="seq" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
</mapper>
