<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wooreal.gravitygather.mapper.UserMapper">
    <select id="login" resultType="com.wooreal.gravitygather.dto.user.User">
        SELECT
            seq,
            id,
            password,
            photo,
            name,
            nickname,
            email,
            status,
            room_character,
            room_map,
            fail_login_cnt as failLoginCnt,
            created_at,
            updated_at
        FROM Users
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <select id="getFailedLoginAttempt" resultType="com.wooreal.gravitygather.dto.user.FailedLoginAttempt">
    </select>

    <select id="getUserByEmail" resultType="com.wooreal.gravitygather.dto.user.User">
        SELECT
            seq,
            id,
            password,
            photo,
            name,
            nickname,
            email,
            status,
            room_character,
            room_map,
            fail_login_cnt as failLoginCnt,
            created_at,
            updated_at
        FROM
            users
        WHERE
            email = #{email}
    </select>

    <update id="setUserActive">
        UPDATE users SET
            status = 'ACTIVE'
        WHERE
            email = #{email};
    </update>

    <select id="getUserBySeq">
        SELECT *
        FROM users
        WHERE seq = ${seq}
    </select>

    <select id="getUserBySeqs">
        SELECT *
        FROM users
        WHERE seq IN
        <foreach item="item" index="index" collection="seqs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <update id="userUpdate">
        UPDATE users
        <set>
            <if test="seq != null">
                seq = #{seq},
            </if>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="password_salt != null">
                password_salt = #{password_salt},
            </if>
            <if test="photo != null">
                photo = #{photo},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="room_character != null and room_character != 0">
                room_character = #{room_character},
            </if>
            <if test="room_map != null and room_map != 0">
                room_map = #{room_map},
            </if>
            <if test="fail_login_cnt != null and fail_login_cnt != 0">
                fail_login_cnt = #{fail_login_cnt},
            </if>
            updated_at = now()
        </set>
        WHERE seq = #{seq}
    </update>
</mapper>
