<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wooreal.gravitygather.mapper.UserMapper">
    <select id="login" resultType="com.wooreal.gravitygather.dto.user.User">
        SELECT
            seq,
            id,
            password,
            photo,
            name,
            nickname,
            email,
            status,
            fail_login_cnt as failLoginCnt,
            created_at,
            updated_at
        FROM Users
        WHERE id = #{id}
        AND password = #{password}
    </select>

    <select id="getFailedLoginAttempt" resultType="com.wooreal.gravitygather.dto.user.FailedLoginAttempt">
    </select>

    <select id="getUserByEmail" resultType="com.wooreal.gravitygather.dto.user.User">
        SELECT
            seq,
            id,
            password,
            photo,
            name,
            nickname,
            email,
            status,
            fail_login_cnt as failLoginCnt,
            created_at,
            updated_at
        FROM
            users
        WHERE
            email = #{email}
    </select>

    <update id="setUserActive">
        UPDATE users SET
            status = 'ACTIVE'
        WHERE
            email = #{email};
    </update>

    <select id="getUserBySeqs">
        SELECT *
        FROM users
        WHERE seq IN
        <foreach item="item" index="index" collection="seqs" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>
